PORT=8082
AWS_REGION=us-east-1
COGNITO_DOMAIN=https://pps-dev.auth.us-east-1.amazoncognito.com
COGNITO_USER_POOL_ID=us-east-1_REPLACE_ME
COGNITO_CLIENT_ID=replace-me
COGNITO_SCOPES=openid,email,profile,pps-api/profile.read,pps-api/profile.write,pps-api/catalog.admin
ALLOWED_CALLBACK_URLS=http://localhost:4321/auth/callback
ALLOWED_LOGOUT_URLS=http://localhost:4321/
DYNAMODB_TABLE=pps-auth-profiles-dev
FRONTEND_ORIGINS=http://localhost:4321

