AWS_REGION=us-east-1
DYNAMODB_CART_TABLE=pps-carts-dev
# DYNAMODB_ENDPOINT=http://localhost:8000
MEMCACHED_SERVERS=127.0.0.1:11211
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
PORT=3004
LOG_LEVEL=info
TRUSTED_USER_HEADER=x-authenticated-user-id
CORS_ORIGIN=http://localhost:3000
