KRAKEND_IMAGE=krakend:2.13.3
PPS_GATEWAY_PORT=8080
PPS_METRICS_PORT=9091
PPS_CATALOG_URL=http://catalog-service:3003
PPS_AUTH_URL=http://auth-service:8082
PPS_AUTH_PREFIX=
PPS_AUTH_MODE=jwt
PPS_JWKS_URL=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_M6K1hvDSx/.well-known/jwks.json
PPS_JWT_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_M6K1hvDSx
